:host {
    & > section {
        height: 100%;
        position: relative;
        background-position: center center;
        background-size: cover;
        background-image: url('/assets/images/campo1.jpg');

        & > div {
            height: inherit;
        }
    }

    & #logo {
        width: 100%;
    }
}