table {width:100%;}
[toolbar] { margin: 20px 10px; }

.menu-wrapper {
    padding: 10px 25px;
}
.example-spacer {
  flex: 1 1 auto;
}
@media only screen and (min-width: 768px) {
    table {
        min-width:700px;
    }
}

@media only screen and (max-width: 768px) {
    table {
        width: 100% !important;
        min-width: initial !important;
    }
}
