<app-section-title>
    {{title}}
</app-section-title>
<form [formGroup]="form" fxLayout="column" fxLayoutAlign="start stretch">

    <div fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
            <mat-label>Nombre</mat-label>
            <input formControlName="nombre" matInput required />
            <mat-error *ngIf="error('nombre')">{{error('nombre')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
            <mat-label>Puerto principal</mat-label>
            <mat-select formControlName="puerto_id" required>
                <mat-option *ngFor="let row of puertos" [value]="row.id">{{row.nombre}}</mat-option>
            </mat-select>
            <mat-error *ngIf="error('puerto_id')">{{error('puerto_id')}}</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="tipo" required>
                <mat-option [value]="'CAMPO'">CAMPO</mat-option>
                <mat-option [value]="'PLANTA_ACOPIO'">PLANTA ACOPIO</mat-option>
            </mat-select>
            <mat-error *ngIf="error('tipo')">{{error('tipo')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
            <mat-label>Propio</mat-label>
            <mat-select formControlName="propio" required>
                <mat-option [value]="'SI'">SI</mat-option>
                <mat-option [value]="'NO'">NO</mat-option>
            </mat-select>
            <mat-error *ngIf="error('propio')">{{error('propio')}}</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100" *ngIf="(form.get('tipo').valueChanges | async) == 'CAMPO'">
            <mat-label>Hectáreas Agrícolas</mat-label>
            <input formControlName="hectareas_agricolas" matInput required />
            <mat-error *ngIf="error('hectareas_agricolas')">{{error('hectareas_agricolas')}}</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100" *ngIf="(form.get('tipo').valueChanges | async) == 'CAMPO'">
            <mat-label>Hectáreas Ganaderas</mat-label>
            <input formControlName="hectareas_ganaderas" matInput required />
            <mat-error *ngIf="error('hectareas_ganaderas')">{{error('hectareas_ganaderas')}}</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="fill" fxFlex.lg="100" fxFlex.xs="100" *ngIf="(form.get('tipo').valueChanges | async) == 'PLANTA_ACOPIO'">
            <mat-label>Capacidad Acopio</mat-label>
            <input formControlName="capacidad_acopio" matInput required />
            <mat-error *ngIf="error('capacidad_acopio')">{{error('capacidad_acopio')}}</mat-error>
        </mat-form-field>
    </div>


    <app-static-map-place [(placeId)]="placeId" [url]="urlImagenMapa" [error]="error('placeId')" [direccion]="direccionCompleta"></app-static-map-place>

    <div>
        <mat-form-field appearance="fill" fxFlex.lg="70" fxFlex.xs="100">
            <mat-label>Descripción ubicación</mat-label>
            <input formControlName="descripcion_ubicacion" matInput />
            <mat-error *ngIf="error('descripcion_ubicacion')">{{error('descripcion_ubicacion')}}</mat-error>
        </mat-form-field>
    </div>
    
    <div fxLayout="row" fxLayoutGap="15px">
        <button mat-flat-button color="primary" (click)="guardar()">
            Guardar
        </button>
        <button mat-flat-button routerLink="/app/clientes/empresas/{{empresa_id}}">
            Cancelar
        </button>
    </div>
</form>