<!--<app-section-title>
    {{title}}
</app-section-title>

<form [formGroup]="form" #formDirective="ngForm" fxLayout="row" fxLayoutAlign="stretch start" fxLayout.xs="column" fxLayoutAlign.xs="start stretch">

    <div class="section-data" fxFlex.lg="60" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="start stretch">
        
        <mat-form-field appearance="fill">
            <mat-label>Tipo archivo</mat-label>
            <mat-select formControlName="tipo_archivo_id">
                <mat-option *ngFor="let row of tipos_archivos" [value]="row.id">{{row.descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="error('tipo_archivo_id')">{{error('tipo_archivo_id')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex.xs="100">
            <mat-label>Fecha de vencimiento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fecha_vencimiento" (focus)="picker.open()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="error('fecha_vencimiento')">{{error('fecha_vencimiento')}}</mat-error>
        </mat-form-field>

        <app-file-upload-button [label]="'Subir archivo'"></app-file-upload-button>
        <br>
        <app-buttons-bar fxLayout="row" fxLayoutGap="15px">
            <button type="button" mat-flat-button color="primary" (click)="guardar()">
                Guardar
            </button>
            <button type="button" mat-flat-button routerLink="/app/clientes/empresas/{{empresa_id}}">
                Cancelar
            </button>
        </app-buttons-bar>
    </div>
</form>-->