<div class="main">
    <mat-card class="card">
        <div class="content">
            <span class="bienvenido-mb">
                ¡Usuario creado con éxito!
            </span>
            <br>
            <span class="bienvenido-mb" style="font-size: 16px; font-weight: 300;">
                Podrás operar una vez que tu cuenta sea validada por un Administrador.
            </span>
        </div>
        <div class="login-link">
            <span class="mat-body-strong">
                <a routerLink="/login">Ir al login</a>
            </span>
        </div>
    </mat-card>
</div>
