<div>     
    <contenido class="main" fxLayout.gt-md="row" fxLayoutAlign="center center">
        <mat-card class="card" fxLayout="column" fxLayoutAlign="start center">
            <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center" style="height: 200px;">
                
                <span class="bienvenido-mb" style="text-align: center; font-size:25px; font-weight: 500;">
                    ¡Usuario creado con éxito!
                </span>
            </div>

            <div fxFlex="100" fxLayout="row" fxLayoutAlign="center">
                <span class="mat-body-strong" style="margin:12px;">
                    <a style="color: #0300a7" routerLink="/login">Ir al login</a>
                </span>
            </div>
        </mat-card>
    </contenido>
</div>
