<!--<app-form-section fxLayoutAlign="column" fxLayoutAlign="stretch stretch" fxFill>    
    <app-section-title>
        {{title}}
    </app-section-title>
    <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="start stretch">
        <mat-form-field appearance="fill">
            <mat-label>Id</mat-label>
            <input formControlName="id" matInput />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input formControlName="nombre" matInput required />
            <mat-error *ngIf="error('nombre')">{{error('nombre')}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Orden</mat-label>
            <input formControlName="orden" matInput required />
            <mat-error *ngIf="error('orden')">{{error('orden')}}</mat-error>
        </mat-form-field>
        <div fxLayout="row" fxLayoutGap="15px">
            <button type="submit" mat-flat-button color="primary">
                Guardar
            </button>
            <button type="button" mat-flat-button routerLink="/app/productos-calidades">
                Cancelar
            </button>
        </div>
    </form>
</app-form-section>-->