<app-section-title>
    {{title}}
</app-section-title>
<form [formGroup]="form" fxLayout="column" fxLayoutAlign="start stretch">
    <div fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap="10px">

        <mat-form-field appearance="fill" fxFlex.lg="70" fxFlex.xs="100">
            <mat-label>Nombre</mat-label>
            <input formControlName="nombre" matInput required />
            <mat-error *ngIf="error('nombre')">{{error('nombre')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
            <mat-label>Teléfono</mat-label>
            <input formControlName="telefono" matInput required />
            <mat-error *ngIf="error('telefono')">{{error('telefono')}}</mat-error>
        </mat-form-field>

    </div>

    <div fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput required />
            <mat-error *ngIf="error('email')">{{error('email')}}</mat-error>
        </mat-form-field>
    </div>

    <app-static-map-place [(placeId)]="placeId" [url]="urlImagenMapa" [direccion]="direccionCompleta" [error]="error('placeId')"></app-static-map-place>
    
    <div>
        <mat-form-field appearance="fill" fxFlex.lg="70" fxFlex.xs="100">
            <mat-label>Descripción ubicación</mat-label>
            <input formControlName="descripcion_ubicacion" matInput />
            <mat-error *ngIf="error('descripcion_ubicacion')">{{error('descripcion_ubicacion')}}</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="15px">
        <button mat-flat-button color="primary" (click)="guardar()">
            Guardar
        </button>
        <button mat-flat-button routerLink="/app/clientes/empresas/{{empresa_id}}">
            Cancelar
        </button>
    </div>
</form>