.direccion {
    line-height : 1.2em;
}
img.google-map {
    width      :100%;
    max-width  : 600px;
    max-height : 300px;
}
/*.mat-list-option {
    margin      : 14px 0;
    height      : auto !important;
    min-height  : 48px;
}
.mat-list-item-content {
    line-height: 1.2em
}*/