<app-listado-filtrado [dataSource]="dataSource" (onClearFilters)="onClearFilters()">
    <titulo>Órdenes de venta</titulo>
    <botones>
        <button mat-flat-button *ngIf="isInterno()||isCliente()" color="primary" class="rounded-button" [routerLink]="'agregar'">Agregar</button>
    </botones>
    <filtros fxLayout="column" fxLayoutAlign="start stretch">

        <mat-form-field appearance="legacy">
            <mat-label>Fecha Desde</mat-label>
            <input
                #filtroFechaDesde matInput [matDatepicker]="pickerFechaDesde"
                [max]="fechaHasta"
                (focus)="pickerFechaDesde.open()"
                [(ngModel)]="fechaDesde"
                (dateChange)="actualizarDatos()">
            <mat-datepicker-toggle matSuffix [for]="pickerFechaDesde"></mat-datepicker-toggle>
            <mat-datepicker #pickerFechaDesde></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <mat-label>Fecha Hasta</mat-label>
            <input
                #filtroFechaHasta matInput [matDatepicker]="pickerFechaHasta"
                [min]="fechaDesde"
                (focus)="pickerFechaHasta.open()"
                [(ngModel)]="fechaHasta"
                (dateChange)="actualizarDatos()">
            <mat-datepicker-toggle matSuffix [for]="pickerFechaHasta"></mat-datepicker-toggle>
            <mat-datepicker #pickerFechaHasta></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="legacy" >
            <mat-label>Empresa vendedora</mat-label>
            <mat-select multiple [(ngModel)]="filtroEmpresa" (selectionChange)="selecetionChangeMultiple($event,'empresa_id')">
              <mat-option *ngFor="let row of empresas" [value]="row.id">{{row.razon_social}}</mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field appearance="legacy" >
          <mat-label>Producto</mat-label>
          <mat-select multiple [(ngModel)]="filtroProductos" (selectionChange)="selecetionChangeMultiple($event,'producto_id')">
            <mat-option *ngFor="let row of productos" [value]="row.id">{{row.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="legacy" >
          <mat-label>Puerto de destino</mat-label>
          <mat-select multiple [(ngModel)]="filtroPuertos" (selectionChange)="selecetionChangeMultiple($event,'puerto_id')" >
            <mat-option *ngFor="let row of puertos" [value]="row.id">{{row.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="legacy" >
			<mat-label>Forma de pago</mat-label>
			<mat-select multiple [(ngModel)]="filtroFormaPago" (selectionChange)="selecetionChangeMultiple($event,'condicion_pago_id')">
			  <mat-option *ngFor="let row of formasPago" [value]="row.id">{{row.descripcion}}</mat-option>
			</mat-select>
		</mat-form-field>

        <mat-form-field appearance="legacy" >
            <mat-label>Estado</mat-label>
            <mat-select multiple [(ngModel)]="dataSource.filtros.estado_id" (selectionChange)="dataSource.refreshData()">
                <mat-option *ngFor="let row of estados" [value]="row.id">{{row.nombre}}</mat-option>
            </mat-select>
        </mat-form-field>

        <!--<mat-form-field *ngIf="!isRepresentante()" appearance="legacy" >
          <mat-label>Usuario asociado</mat-label>
          <mat-select multiple [(ngModel)]="filtroComercial" (selectionChange)="selecetionChangeMultiple($event,'usuario_carga_id')">
            <mat-option value="" >TODOS</mat-option>
            <mat-option *ngFor="let row of comerciales" [value]="row.id">{{row.nombreCompleto}}</mat-option>
          </mat-select>
        </mat-form-field>-->

    </filtros>
    <contenido>
        <div class="table-sticky-wrapper">
            <table mat-table matSort [dataSource]="dataSource" matSort style="min-width:700px;">

                <ng-container *ngFor="let column of columns" matColumnDef="{{column.name}}" [stickyEnd]="column.type === 'menu'">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        [ngStyle]="{'text-align': column.align, width: column.width, 'font-weight': '600'}"
                    >{{column.title}}</th>
                    <td mat-cell *matCellDef="let row" [ngStyle]="{'text-align': column.align}">
                        <ng-container *ngIf="column.type==='custom'">
                            {{column.valueFn(row)}}
                        </ng-container>
                        <ng-container *ngIf="column.type==='number'">
                            {{ column.valueFn(row) | number:'':'es' }}
                        </ng-container>
                        <!--<ng-container *ngIf="column.type==='text'||column.type===undefined" >
                            {{column.valueFn(row) || row[column.name]  || null}}
                        </ng-container>-->
                        <ng-container *ngIf="(column.type==='text'||column.type===undefined)&&column.name !='estado'">
                            {{column.valueFn(row) || row[column.name]  || null}}
                        </ng-container>
                        <ng-container *ngIf="column.name === 'estado'">
                            <span [ngStyle]="{ 'color': getEstadoColor(row[column.name]) }">
                                {{column.valueFn(row) || row[column.name]  || null}}
                            </span>
                          </ng-container>
                        <ng-container *ngIf="column.type==='menu'">
                            <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" [matMenuTriggerData]="{row:row}" >
                                <mat-icon aria-hidden="false">more_vert</mat-icon>
                            </button>
                        </ng-container>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToShow"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToShow;"></tr>
            </table>
        </div>
        <mat-paginator [length]="dataSource.total"
            [pageSize]="dataSource.limit"
            (page)="dataSource.setPageIndex($event.pageIndex)">
        </mat-paginator>

        <mat-menu #menu="matMenu">
            <ng-template matMenuContent let-aliasMenuItems="row">
                <button mat-menu-item routerLink="consulta/{{aliasMenuItems.id}}">Consultar</button>
                <button mat-menu-item *ngIf="this.isInterno()" routerLink="copiar/{{aliasMenuItems.id}}">Copiar</button>
                <button mat-menu-item *ngIf="!(aliasMenuItems.estado_id == 5)&&this.isInterno()"(click)="estadoPosicion(aliasMenuItems.id, 5)">Eliminar</button>
            </ng-template>
        </mat-menu>
    </contenido>
</app-listado-filtrado>
