<app-section-title>
    {{title}}
</app-section-title>

<form [formGroup]="form" fxLayout="column" fxLayoutAlign="start stretch">

    <div fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap="10px" *ngIf="empresa_id == null">
        <mat-form-field appearance="fill" fxFlex="100">
            <mat-label>Empresa</mat-label>
            <mat-select formControlName="empresa_id" required>
                <mat-option *ngFor="let row of empresas" [value]="row.id">{{row.razon_social}}</mat-option>
            </mat-select>
            <mat-error *ngIf="error('empresa_id')">{{error('empresa_id')}}</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
            <mat-label>Nombre</mat-label>
            <input formControlName="nombre" matInput required />
            <mat-error *ngIf="error('nombre')">{{error('nombre')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput email />
            <mat-error *ngIf="error('email')">{{error('email')}}</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field appearance="fill" fxFlex.xs="100">
            <mat-label>Fecha Nacimiento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fecha_nacimiento" (focus)="picker.open()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="error('fecha_nacimiento')">{{error('fecha_nacimiento')}}</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
            <mat-label>Teléfono celular</mat-label>
            <input formControlName="telefono_celular" matInput required />
            <mat-error *ngIf="error('telefono_celular')">{{error('telefono_celular')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
            <mat-label>Teléfono fijo</mat-label>
            <input formControlName="telefono_fijo" matInput />
            <mat-error *ngIf="error('telefono_fijo')">{{error('telefono_fijo')}}</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
            <mat-label>Cargo</mat-label>
            <mat-select formControlName="cargo_id" required>
                <mat-option *ngFor="let row of cargos" [value]="row.id">{{row.nombre}}</mat-option>
            </mat-select>
            <mat-error *ngIf="error('cargo_id')">{{error('cargo_id')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
            <mat-label>Nivel jerarquía</mat-label>
            <mat-select formControlName="nivel_jerarquia" required>
                <mat-option [value]="'1'">1</mat-option>
                <mat-option [value]="'2'">2</mat-option>
                <mat-option [value]="'3'">3</mat-option>
                <mat-option [value]="'4'">4</mat-option>
                <mat-option [value]="'5'">5</mat-option>
            </mat-select>
            <mat-error *ngIf="error('nivel_jerarquia')">{{error('nivel_jerarquia')}}</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="15px">
        <button mat-flat-button color="primary" (click)="guardar()">
            Guardar
        </button>
        <button mat-flat-button [routerLink]="getListadoUrl()">
            Cancelar
        </button>
    </div>

    <app-redes-sociales-listar *ngIf="id" [contacto_id]="id"></app-redes-sociales-listar>

</form>