<div fxLayout="row" fxLayoutAlign="end center" class="profile-section profile-section-extranet">
    <div 
        mat-button 
        [matMenuTriggerFor]="menu"
        class="profile-button"
        [style.background-image]="'url(../assets/images/download.png)'"
    >
    </div>
    <div fxLayout="column">
        <div class="user-name">{{user?.nombre}} {{user?.apellido}}</div>
        <div class="user-role">{{user?.rol?.nombre}}</div>
    </div>

    <mat-menu #menu="matMenu" >
        <button  mat-menu-item routerLink="usuarios/mis-datos">Mi Cuenta</button>
        <button  mat-menu-item (click)="logout()">Cerrar sesión</button>
    </mat-menu>
</div>