<form [formGroup]="form" fxLayout="column" fxLayoutAlign="start stretch">

    <div fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap="10px">

        <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
            <mat-label>Producto</mat-label>
            <input formControlName="producto_nombre" placeholder="Escriba para buscar.." matInput [matAutocomplete]="auto" (keyup)="producto_id_keyup($event)" required />
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="producto_id_selected($event)" panelWidth="400px">
                <mat-option *ngFor="let row of productos" [value]="row.nombre" [attr.data-id]="row.id">
                    {{row.nombre}}
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="error('producto_id')">{{error('producto_id')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
            <mat-label>Empresa vendedora</mat-label>
            <input formControlName="empresa_razon_social" placeholder="Escriba para buscar.." matInput [matAutocomplete]="auto2" (keyup)="empresa_id_keyup($event)" required />
            <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="empresa_id_selected($event)">
                <mat-option *ngFor="let row of empresas" [value]="row.razon_social" [attr.data-id]="row.id">
                    {{row.razon_social}}
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="error('empresa_razon_social')">{{error('empresa_razon_social')}}</mat-error>
        </mat-form-field>

    </div>
    
    <!--<div fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex="80"  *ngIf="mostrarCampoEstablecimientos">
            <mat-label>Establecimiento</mat-label>
            <mat-select formControlName="establecimiento_id">
                <mat-option [value]="null">Seleccione...</mat-option>
                <mat-option *ngFor="let row of establecimientos" [value]="row.id" >{{row.nombre}}</mat-option>
                (onSelectionChange)="autocompletarEstablecimientoUbicacion(row)"
            </mat-select>
            <mat-error *ngIf="error('establecimiento_id')">{{error('establecimiento_id')}}</mat-error>
        </mat-form-field>
    </div>-->
    <!--<div fxLayout="row"  >
        <app-static-map-place 
            fxFlex="100" 
            [titulo]="'Procedencia'" 
            [(placeId)]="placeIdProcedencia" 
            [error]="error('placeIdProcedencia')" 
            [direccion]="direccionCompletaProcedencia"
            [disabled]="consulta">
        </app-static-map-place>
    </div>-->
    <!--<mat-radio-group fxLayout="row" class="radio-group" formControlName="opcion_destino">
        <mat-radio-button class="radio-button" [value]="'exportacion'"  formControlName="opcion_destino" (change)="setearOpcionDestino('exportacion')">Exportación</mat-radio-button>
        <mat-radio-button class="radio-button" [value]="'consumo'" formControlName="opcion_destino" (change)="setearOpcionDestino('consumo')">Consumo</mat-radio-button>
        <mat-error *ngIf="error('opcion_destino')">{{error('opcion_destino')}}</mat-error>
    </mat-radio-group>-->

    
    <!--<div *ngIf="opcion_destino==='consumo'">
        <div fxLayout="row"  >
            <app-static-map-place fxFlex="100" [titulo]="'Destino'" [(placeId)]="placeIdDestino" [error]="error('placeIdDestino')" [direccion]="direccionCompletaDestino"></app-static-map-place>
        </div>
    </div>-->

    <!--<div fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap="10px">

        <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
            <mat-label>Calidades</mat-label>
            <input formControlName="calidad_nombre" placeholder="Escriba para buscar.." matInput [matAutocomplete]="auto3" (keyup)="calidad_id_keyup($event)" required />
            <mat-autocomplete #auto3="matAutocomplete" (optionSelected)="calidad_id_selected($event)">
                <mat-option *ngFor="let row of calidades" [value]="row.nombre" [attr.data-id]="row.id">
                    {{row.nombre}}
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="error('calidad_id')">{{error('calidad_id')}}</mat-error>
        </mat-form-field>


    </div>-->
        
    <div fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
            <mat-label>Volumen en toneladas</mat-label>
            <input formControlName="volumen" matInput required/>
            <mat-error *ngIf="error('volumen')">{{error('volumen')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
            <mat-label>Forma de pago</mat-label>
            <mat-select formControlName="condicion_pago_id" required>
                <mat-option [value]="null">Seleccione...</mat-option>
                <mat-option *ngFor="let row of condiciones_pago" [value]="row.id">{{row.descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="error('condicion_pago_id')">{{error('condicion_pago_id')}}</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
            <mat-label>Moneda</mat-label>
            <mat-select formControlName="moneda" required>
                <mat-option [value]="'USD'">USD</mat-option>
                <mat-option [value]="'AR$'">AR$</mat-option>
            </mat-select>
            <mat-error *ngIf="error('moneda')">{{error('moneda')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
            <mat-label>Precio</mat-label>
            <input formControlName="precio" matInput required/>
            <mat-error *ngIf="error('precio')">{{error('precio')}}</mat-error>
        </mat-form-field>
    </div>

    <!--<div fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field appearance="fill" fxFlex.lg="15" fxFlex.xs="100">
            <mat-label>Entrega</mat-label>
            <mat-select formControlName="entrega" required>
                <mat-option [value]="'DISPONIBLE'">Disponible</mat-option>
                <mat-option [value]="'LIMIT'">Limit</mat-option>
                <mat-option [value]="'CONTRACTUAL'">Contractual</mat-option>
                <mat-option [value]="'FORWARD'">Forward</mat-option>
            </mat-select>
            <mat-error *ngIf="error('entrega')">{{error('entrega')}}</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field appearance="fill" fxFlex.lg="25">
            <mat-label>Período de entrega desde: </mat-label>
            <input matInput [min]="minDate" [matDatepicker]="picker1" formControlName="fecha_entrega_inicio" (focus)="picker1.open()">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="error('fecha_entrega_inicio')">{{error('fecha_entrega_inicio')}}</mat-error>
        </mat-form-field>


        <mat-form-field appearance="fill" fxFlex.lg="25">
            <mat-label>Hasta: </mat-label>
            <input matInput [min]="minDate" [matDatepicker]="picker2" formControlName="fecha_entrega_fin" (focus)="picker2.open()">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error *ngIf="error('fecha_entrega_fin')">{{error('fecha_entrega_fin')}}</mat-error>
        </mat-form-field>
    </div>-->

    
    <!--<div fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap="10px">    
        <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado_id" required>
                <mat-option [value]="1">Oferta a trabajar</mat-option>
                <mat-option [value]="2">Orden firme</mat-option>
            </mat-select>
            <mat-error *ngIf="error('estado_id')">{{error('estado_id')}}</mat-error>
        </mat-form-field>

    </div>-->

    <div *ngIf="consulta">
        <mat-form-field appearance="fill" fxFlex="100">
            <mat-label>Comercial</mat-label>
            <input formControlName="comercial" matInput [readonly]="true"/>
            <mat-error *ngIf="error('comercial')">{{error('comercial')}}</mat-error>
        </mat-form-field>
    </div>

    <!--<div *ngIf="opcion_destino==='exportacion'">-->
        <div fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
                <mat-label>Puerto de destino</mat-label>
                <mat-select formControlName="puerto_id" required>
                    <mat-option *ngFor="let row of puertos" [value]="row.id">{{row.nombre}}</mat-option>
                </mat-select>
                <mat-error *ngIf="error('puerto_id')">{{error('puerto_id')}}</mat-error>
            </mat-form-field>
        
        <!--</div>-->

        <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
            <mat-label>Observaciones</mat-label>
            <input formControlName="observaciones" matInput />
            <mat-error *ngIf="error('observaciones')">{{error('observaciones')}}</mat-error>
        </mat-form-field>
    </div>

    <div *ngIf="mostrarBotones" fxLayout="row" fxLayoutGap="15px">
        <button *ngIf="!consulta" mat-flat-button color="primary" (click)="guardar()">
            Guardar
        </button>
        <button *ngIf="!consulta" mat-flat-button routerLink="/app/mercado/ordenes">
            Cancelar
        </button>
        <button *ngIf="consulta" mat-flat-button routerLink="/app/mercado/ordenes">
            Volver
        </button>
    </div>
</form>

