<app-form-section-extranet [listado]="true">
    <app-listado-filtrado [dataSource]="dataSource" (onClearFilters)="onClearFilters()" [transparent]="true">
        <titulo>Solicitudes</titulo>
        <botones>
            <button type="button" mat-flat-button class="button button-solicitar-cobro" routerLink="/app/extranet/solicitudes-cobro/agregar">
                <img src="../../../../assets/images/paid_black_24dp.svg" alt="">
                <span>
                    Solicitar Cobro
                </span>
            </button>
            <button mat-flat-button color="primary" type="button" routerLink="/app/extranet/solicitudes-cbu/agregar" class="button button-nuevo-cbu">
                    <mat-icon>add_circle_outline</mat-icon>
                    <span>
                        Nuevo CBU
                    </span>
            </button>
        </botones>
        <filtros fxLayout="column" style="margin-top: -10px;">

            <app-datepicker-input appearance="standard" [label]="'Fecha Desde'"    [(value)]="filtros.fecha_desde"        (change)="refreshList()" [showCleanButton]="true"></app-datepicker-input>
            <app-datepicker-input appearance="standard" [label]="'Fecha Hasta'"    [(value)]="filtros.fecha_hasta"        (change)="refreshList()" [showCleanButton]="true"></app-datepicker-input>

            <app-chips-input
                appearance="standard"
                *ngIf="multiplesClientes"
                [title]="'Clientes'"
                [labelColumn]="'Empresa'"
                [valueColumn]="'CUIT'"
                [dataUrl]="'/extranet/razones-sociales'"
                [queryParams]="{token: authService.getToken()}"
                [(selected)]="filtros.cuit"
                (selectionChanged)="refreshList()"
            ></app-chips-input>

            <mat-form-field *ngIf="muestraEstado" appearance="legacy" >
                <mat-label>Estado</mat-label>
                <mat-select multiple [(ngModel)]="dataSource.filtros.estado_id" (selectionChange)="refreshList()">
                    <mat-option value="">TODOS</mat-option>
                    <mat-option *ngFor="let row of estadoSolicitudes" [value]="row.id">{{row.descripcion}}</mat-option>
                </mat-select>
            </mat-form-field>

        </filtros>
        <contenido>

            <div class="table-sticky-wrapper">
                <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="dataSource" matSort>

                    <ng-container *ngFor="let column of columns" matColumnDef="{{column.name}}" [stickyEnd]="column.type==='menu'">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            [ngStyle]="{'text-align': column.align, width: column.width}"
                        >{{column.title}}</th>
                        <td mat-cell *matCellDef="let row" [ngStyle]="{'text-align': column.align}">
                            <ng-container *ngIf="column.type==='text'||column.type===undefined">
                                {{column.valueFn(row) || row[column.name]  || null}}
                            </ng-container>
                            <ng-container *ngIf="column.type==='menu'">
                                <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" [matMenuTriggerData]="{row:row}" >
                                    <mat-icon aria-hidden="false">more_vert</mat-icon>
                                </button>
                            </ng-container>
                            <mat-menu #menu="matMenu">
                                <ng-template matMenuContent let-aliasMenuItems="row">
                                    <button mat-menu-item routerLink="/app/extranet/solicitudes-cobro/editar/{{row.id}}">Consultar</button>
                                    <button *ngIf="row.estado.descripcion !== 'Cancelado' && row.estado.descripcion !== 'Confirmado' && row.estado.descripcion !== 'No aprobado'" mat-menu-item (click)="clickGestionar(row)">Gestionar</button>
                                </ng-template>
                            </mat-menu>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnsToShow"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToShow;"></tr>
                </table>
            </div>
            <mat-paginator [length]="dataSource.total"
                [pageSize]="dataSource.limit"
                [pageIndex]="dataSource.pageIndex"
                (page)="dataSource.setPageIndex($event.pageIndex)">
            </mat-paginator>




        </contenido>
    </app-listado-filtrado>
</app-form-section-extranet>
