/*app-listado-filtrado{

    margin-top: 25px;

    titulo{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: #383840;
    }
    botones {
        display: flex;
        gap: 25px;

        button{
            display: flex;
            align-items: center;
        }
    }
    ::ng-deep mat-sidenav{
        button{
            height: 32px;
            display: flex;
            align-items: center;
        }

    }

    ::ng-deep .mat-drawer-side.mat-drawer-end {
        border-left: 2px solid #1da97836;
        border-right: none;
    }

    ::ng-deep th.mat-header-cell{
        border-bottom: 2px solid #1da97836;
    }

    ::ng-deep .sidenav-filtros {
        width: calc(100% - 56px);
        max-width: 279px;
        padding: 20px;
        min-height: calc(100vh - 184px );
        height: 100%;
    }

    .mat-paginator {
        border-top: 2px solid #1da97836;
        background: transparent;
    }



}

table { 
    font-family: 'Poppins';
    width:100%;
    background: transparent !important;

    tr.mat-header-row {
        background: white;
    }

    th.mat-header-cell{
        padding-left: 24px;
    }  
    
    td.mat-cell{
        padding-left: 24px;
    }

    .mat-row:nth-child(odd){
        background-color: transparent!important;
    }

    .mat-row:nth-child(even){
        background-color: white!important;
    }

    td.mat-cell, td.mat-footer-cell{
        border-bottom-style: unset;

    }

    .mat-header-cell {
        font-weight: 600 !important;
        font-size: 18px;
        line-height: 21px;
    }

}

.button{
    z-index: 1;
    height: 45px;
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.button-nuevo-cbu{
    background: #1DA978;
    width: 174px;

}

.button-solicitar-cobro{
    width: 206px;
    background: transparent;
    border: 2px solid #1DA97859;
    color: #1DA978;

}

::ng-deep app-toolbar{
    position: unset;
}

*/