<app-toolbar>
    <button mat-icon-button fxLayout="row" fxLayoutAlign="center center" [routerLink]="desdePanel ? '/app/mercado/panel' : '/app/mercado/posiciones'">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{title}}</span>
</app-toolbar>
<mat-card>
    <form [formGroup]="form" fxLayout="column" fxLayoutAlign="start stretch">

        <div fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap="10px">

            <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
                <mat-label>Producto</mat-label>
                <input formControlName="producto_nombre" placeholder="Escriba para buscar.." matInput [matAutocomplete]="auto" (keyup)="producto_id_keyup($event)" required />
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="producto_id_selected($event)" panelWidth="400px">
                    <mat-option *ngFor="let row of productos" [value]="row.nombre" [attr.data-id]="row.id">
                        {{row.nombre}}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="error('producto_id')">{{error('producto_id')}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex="100" fxFlex.lg="80" >
                <mat-label>Empresa compradora</mat-label>
                <input formControlName="empresa_razon_social" placeholder="Escriba para buscar.." matInput [matAutocomplete]="auto2" (keyup)="empresa_id_keyup($event)" required />
                <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="empresa_id_selected($event)">
                    <mat-option *ngFor="let row of empresas" [value]="row.razon_social" [attr.data-id]="row.id">
                        {{row.razon_social}}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="error('empresa_id')">{{error('empresa_id')}}</mat-error>
            </mat-form-field>    
        </div>

        <div fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap="10px">

            <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
                <mat-label>Volumen en toneladas</mat-label>
                <input formControlName="volumen" matInput required/>
                <mat-error *ngIf="error('volumen')">{{error('volumen')}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
                <mat-label>Cosecha</mat-label>
                <mat-select formControlName="cosecha_id" required>
                    <mat-option [value]="null">Seleccione...</mat-option>
                    <mat-option *ngFor="let row of cosechas" [value]="row.id">{{row.descripcion}}</mat-option>
                </mat-select>
                <mat-error *ngIf="error('cosecha_id')">{{error('cosecha_id')}}</mat-error>
            </mat-form-field> 

            
            
        </div>

        <div fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap="10px">

            <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
                <mat-label>Forma de pago</mat-label>
                <mat-select formControlName="condicion_pago_id" required>
                    <mat-option *ngFor="let row of condiciones_pago$ | async" [value]="row.id">
                        {{row.descripcion}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="error('condicion_pago_id')">{{error('condicion_pago_id')}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
                <mat-label>Moneda</mat-label>
                <mat-select formControlName="moneda" required>
                    <mat-option [value]="'USD'">USD</mat-option>
                    <mat-option [value]="'AR$'">AR$</mat-option>
                </mat-select>
                <mat-error *ngIf="error('moneda')">{{error('moneda')}}</mat-error>
            </mat-form-field>

            
        </div>             

        <div fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
                <mat-label>Precio</mat-label>
                <input formControlName="precio" matInput required/>
                <mat-error *ngIf="error('precio')">{{error('precio')}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
                <mat-label>Puerto de destino</mat-label>
                <mat-select formControlName="puerto_id" required>
                    <mat-option [value]="null">Seleccione...</mat-option>
                    <mat-option *ngFor="let row of puertos" [value]="row.id">{{row.nombre}}</mat-option>
                </mat-select>
                <mat-error *ngIf="error('puerto_id')">{{error('puerto_id')}}</mat-error>
            </mat-form-field>            
        </div>

        <div fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
                <mat-label>Observaciones</mat-label>
                <input formControlName="observaciones" matInput />
                <mat-error *ngIf="error('observaciones')">{{error('observaciones')}}</mat-error>
            </mat-form-field>
        </div>

        <div class="loading-overlay" *ngIf="isLoading">
            <div class="spinner"></div>
        </div>
        
        <div fxLayout="row" fxLayoutGap="15px">
            <button mat-flat-button color="primary" (click)="guardar()" *ngIf="!consulta">
                Guardar
            </button>
        </div>
    </form>
</mat-card>
