/*
.contenido{
    margin : 20px;
    padding: 16px;




    .tituloYBotones{
        
        display: flex;
        justify-content: space-between;
        line-height: normal;

        
        .titulo{
            font-size: 30px;
            color: #383840;
        }

        .botones{
            display: flex;
            gap: 20px;
            align-items: center;


            button{
                height: 30px;
                line-height: unset;
            }
        }
        
    
    }

    .camposSolicitud{
        margin-top: 30px;
        flex-direction: column;
        box-sizing: border-box;
        display: flex;
    }

    .divPagos{
        line-height: normal;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

        align-items: center;


            button{
                height: 30px;
                line-height: unset;
            }
        
        
        .titulo{
            font-size: 30px;
            color: #383840;
        }
    }

    .table{
        margin-top: 30px;
    }

    .divEnviar{
        display: flex;
        margin-top: 14px;
        justify-content: flex-start;
    }

    .divMontos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
        margin-right: 110px;
        margin-top: 70px;
        
        .lineaMonto{
            width: 100%; 
            display: flex;
            justify-content: flex-end;
            gap: 30px;

            .tituloMonto{
                width: 62px;
                display: flex;
                justify-content: flex-end;
            }

            .monto{
                width : 200px
            }
        }
    }

}


::ng-deep .mat-dialog-container{
    width: 510px !important;
    text-align: center;
    .mat-dialog-actions {
        justify-content: center !important;

    }

}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline  {
    background-color: white !important;
    border-radius: 5px;  
}

app-section-title-extranet{
    width: 100%;

    .tituloYBotones{
        width: 100%;
        display: flex;
        justify-content: space-between;
        botones {
            display: flex;
            gap: 25px;
        
            button{
                display: flex;
                align-items: center;
            }
        }
    }
}


form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    mat-form-field{
        width: 100%;
        z-index: 1;
    }

    .half-fields{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        mat-form-field{
            width: calc(50% - 11px);
        }
        @media only screen and (max-width: 768px) {
            mat-form-field{
                width: 100%;
            }
        }

    }

}

.encabezadoPagos{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    .titulo{
        font-weight: 700 !important;
        font-size: 32px !important;
        color: #383840;
        padding-bottom: 0px;
        font-family: 'Poppins';
        line-height: 38px;
    }
    
    
}

.tablaYMontos{
    display: flex;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 27px;
    gap: 20px;

    app-table{
        width: 100%; 

        ::ng-deep table{
            border-radius: 20px;
            overflow: hidden;
            font-family: Poppins;

            .mat-header-row{
                height: 48px;
                .mat-header-cell{
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 21px;
                    border-bottom-width: 0px;
                    
                    div{
                        height: 48px;
                        display: flex;
                        align-items: center;
                        gap: 11px;
                    }           
                }
            }

            .mat-row{
                background-color: white !important;
            }

            .mat-cell{
                border-bottom: 0px solid transparent !important;
                border-top: 2px solid rgb(0 105 55 / 17%);            }

            mat-icon{
                font-family: 'Material Icons Outlined' !important;

            }
        }
    }

    .montos{
        min-width: 174px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .monto{
            height: 115px;
            border-radius: 20px;
            font-weight: 600;
            font-family: Poppins;
            font-size: 18px;
            line-height: 21px;
            color: white;
            
            padding-top: 15px;

            span{
                padding-left: 17px;
            }

            mat-divider{
                margin: 12px 0;
            }
        }

        .total{
            background-color:  #00BBB4;
            mat-divider{
                border: 1px solid rgb(103 217 212)
            }
        }

        .restante{
            background: linear-gradient(113.42deg, #6EC54C -16.55%, #1DA978 117.29%);
            mat-divider{
                border: 1px solid rgb(255 255 255 / 47%);
            }
        }

    }
}

mat-divider{
    margin-bottom: 33px;
    border: 1px solid rgb(0 105 55 / 20%);
}

.button{
    z-index: 1;
    width: 154px;
    height: 45px !important;
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    justify-content: center;

    div{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: -20px;
        padding: 0px 4px;

        mat-icon{
            margin-top: -2.52px;
        }
        
    }

}

.button-historial-solicitudes{
    width: 268px;
    background: transparent;
    border: 2px solid #1DA97859;
    color: #1DA978;

}

.button-nuevo-cbu{
    background: #1DA978;
    width: 174px;

}

.buttonGuardar{
    background: #1DA978;

}

.button-enviar{
    background: transparent;
    border: 2px solid #1DA97859;
    color: #1DA978;
    width: 210px;

}

::ng-deep tbody{

    .mat-column-monto{
        
        padding-right: 78px !important;
    }
}
*/