<app-form-section-extranet>
    <app-section-title-extranet>
        <div class="tituloYBotones">
            <span>{{title}}</span>
            <div></div>
            <botones>
                <button type="button" mat-flat-button class="button button-historial-solicitudes" routerLink="/app/extranet/solicitudes-cobro/listar">
                    <mat-icon>history</mat-icon>
                    <span>
                        Historial de solicitudes
                    </span>
                </button>
                <button mat-flat-button color="primary" type="button" (click)="clickNewCbu()" class="button button-nuevo-cbu">
                    <mat-icon>add_circle_outline</mat-icon>
                    <span>
                        Nuevo CBU
                    </span>
                </button>
            </botones>
        </div>
    </app-section-title-extranet>
    <form [formGroup]="form">

        <mat-form-field appearance="outline">
            <mat-label>Empresa</mat-label>
            <mat-select formControlName="cuit" required (selectionChange)="changeEmpresa()">
                <mat-option *ngFor="let row of empresas" [value]="row.CUIT">{{row.Empresa}} - Disponible: ${{utils.formatNumeroConDecimales(formatMonto(row.Saldos.Disponibles))}} - Cobranza del día: ${{utils.formatNumeroConDecimales(formatMonto(row.Saldos['del Día']))}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('cuit').getError('required')">Obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Tipo de retiro</mat-label>
            <mat-select  required formControlName="tipo" (selectionChange)="changeTipoRetiro()" [disabled]="modoConsulta">
                <mat-option value="Disponible">Saldo Disponible</mat-option>
                <mat-option value="Cobranza del día">Cobranza del día</mat-option>
                <mat-option *ngIf="usuario.TipoUsuario === '3' || usuario.TipoUsuario === '4' || modoConsulta === true" value="Anticipo">Anticipo</mat-option> 
            </mat-select>
            <mat-error *ngIf="form.get('tipo').getError('required')">Obligatorio</mat-error>
        </mat-form-field>

        <div class="half-fields">
            <mat-form-field appearance="outline" class="half-field">
                <mat-label>Usuario solicitante</mat-label>
                <input formControlName="nombre_usuario" matInput required />
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="half-field">
                <mat-label>Fecha de solicitud</mat-label>
                <input formControlName="fecha_solicitud" matInput required />
            </mat-form-field>
        </div>

        <div style="width:100%; margin-top: 10px;">
            <mat-divider></mat-divider>
        </div>

        <div class="encabezadoPagos">
            <span class="titulo">Pagos</span>
            <div></div>
            <button type="button" color="primary" mat-flat-button class="button button-nuevo-cbu" routerLink="/app/extranet/solicitudes-cobro/agregar-pago">
                <img src="../../../../assets/images/paid_white_24dp.svg" alt="">
                <span>
                    Agregar
                </span>
            </button>
        </div>

        <div class="tablaYMontos">
            <app-table
                class="table"
                #table
                [hideHeaders]="true"
                [(dataSource)]="formas_pago"
            >
            </app-table>
            <div class="montos">
                <div class="monto total">
                    <span>Total</span>
                    <mat-divider></mat-divider>
                    <span>ARS {{utils.formatNumeroConDecimales(montoTotal.toString())}}</span>
                </div>
                <div class="monto restante">
                    <span>Restante</span>
                    <mat-divider></mat-divider>
                    <span>ARS {{utils.formatNumeroConDecimales(restante.toString())}}</span>
                </div>
            </div>

        </div>

        <mat-form-field appearance="outline">
            <mat-label>Observaciones</mat-label>
            <input formControlName="observaciones" (change)="changeObservacion()" matInput/>
        </mat-form-field>



        <div fxLayout="row" fxLayoutGap="15px">
            <button mat-flat-button class="button button-enviar" (click)="submit()" [disabled]="formEnviado" routerLink="/app/extranet/solicitudes-cobro/agregar">
                <div>
                    <mat-icon>send</mat-icon>
                    <span>
                        Enviar Solicitud
                    </span>
                </div>
            </button>
        </div>
    </form>
</app-form-section-extranet >