<app-toolbar>
    <span>{{title}}</span>
</app-toolbar>
<mat-card>
    <form [formGroup]="form" fxLayout="column" fxLayoutAlign="start stretch">
        <div fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.md="30" fxFlex.xs="100">
                <mat-label>CUIT</mat-label>
                <input formControlName="cuit" matInput required />
                <mat-hint align="start">No incluir guiones.</mat-hint>
                <mat-error *ngIf="error('cuit')">{{error('cuit')}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.md="70" fxFlex.xs="100">
                <mat-label>Razón Social</mat-label>
                <input formControlName="razon_social" matInput required />
                <mat-error *ngIf="error('razon_social')">{{error('razon_social')}}</mat-error>
            </mat-form-field>

        </div>

        <div fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.md="50" fxFlex.xs="100">
                <mat-label>Teléfono</mat-label>
                <input formControlName="telefono" matInput />
                <mat-error *ngIf="error('telefono')">{{error('telefono')}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.md="50" fxFlex.xs="100">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput/>
                <mat-error *ngIf="error('email')">{{error('email')}}</mat-error>
            </mat-form-field>
        </div>

        <div fxLayout.mg="row" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.md="70" fxFlex.xs="100">
                <mat-label>Comprador | Vendedor</mat-label>
                <mat-select formControlName="perfil" required>
                    <mat-option [value]="'COMPRADOR'">Comprador</mat-option>
                    <mat-option [value]="'VENDEDOR'">Vendedor</mat-option>
                    <mat-option [value]="'COMPRADOR_VENDEDOR'">Comprador y Vendedor</mat-option>
                </mat-select>
                <mat-error *ngIf="error('perfil')">{{error('perfil')}}</mat-error>
            </mat-form-field>
            

            <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.md="30" fxFlex.xs="100">
                <mat-label>Usuario asociado</mat-label>
                <mat-select formControlName="usuario_comercial_id" >
                    <mat-option *ngFor="let row of usuarios" [value]="row.id">{{row.nombre}} {{row.apellido}}</mat-option>
                </mat-select>
                <mat-error *ngIf="error('usuario_comercial_id')">{{error('usuario_comercial_id')}}</mat-error>
            </mat-form-field>
        </div>

        <div fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.md="50" fxFlex.xs="100">
                <mat-label>Dirección</mat-label>
                <input formControlName="direccion" matInput  />
                <mat-error *ngIf="error('direccion')">{{error('direccion')}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.md="50" fxFlex.xs="100">
                <mat-label>Localidad</mat-label>
                <input formControlName="localidad" matInput />
                <mat-error *ngIf="error('localidad')">{{error('localidad')}}</mat-error>
            </mat-form-field>
        </div>

        <div fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="10px"> 
            <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.md="50" fxFlex.xs="100">
                <mat-label>Provincia</mat-label>
                <mat-select formControlName="provincia">
                    <mat-option *ngFor="let opcion of opciones" [value]="opcion">{{ opcion }}</mat-option>
                </mat-select>
                <mat-error *ngIf="error('provincia')">{{error('provincia')}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.md="50" fxFlex.xs="100">
                <mat-label>Comisión</mat-label>
                <input formControlName="comision" matInput required style="text-align:right;" />
                <span matSuffix>&nbsp; %</span>
                <mat-error *ngIf="error('comision')">{{error('comision')}}</mat-error>
            </mat-form-field>
        </div>

        <div class="loading-overlay" *ngIf="isLoading">
            <div class="spinner"></div>
        </div>
        
        <div fxLayout="row" fxLayoutGap="15px">
            <button mat-flat-button color="primary" (click)="guardar()">
                Guardar
            </button>
            <button mat-flat-button routerLink="/app/clientes/empresas">
                Cancelar
            </button>
        </div>
    </form>
</mat-card>
    