<app-form-section fxLayoutAlign="column" fxLayoutAlign="stretch stretch" fxFill>
    <app-section-title>
        {{title}}
    </app-section-title>
    <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="onSubmit()" fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutAlign.xs="start stretch">
        <div class="section-data" fxFlex.lg="100" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="start stretch">
           
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input formControlName="nombre" matInput required />
                <mat-error *ngIf="error('nombre')">{{error('nombre')}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Apellido</mat-label>
                <input formControlName="apellido" matInput required />
                <mat-error *ngIf="error('apellido')">{{error('apellido')}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Telefono</mat-label>
                <input formControlName="telefono" matInput />
                <mat-error *ngIf="error('telefono')">{{error('telefono')}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" required>
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput />
                <mat-error *ngIf="error('email')">{{error('email')}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" required>
                <mat-label>Rol</mat-label>
                <mat-select formControlName="rol_id">
                    <mat-option *ngFor="let row of roles$ | async" [value]="row.id">
                        {{row.nombre}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="error('rol_id')">{{error('rol_id')}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" required>
                <mat-label>Empresa para la que opera</mat-label>
                <input formControlName="empresa_registro" matInput />
                <mat-error *ngIf="error('empresa_registro')">{{error('empresa_registro')}}</mat-error>
            </mat-form-field>

            <app-buttons-bar fxLayout="row" fxLayoutGap="15px" style="margin-top: 35px;">
                <button type="submit" mat-flat-button color="primary">
                    Guardar
                </button>
                <button *ngIf="mostrarBotonCancelar" type="button" mat-flat-button (click)="onClickCancelar()">
                    Cancelar
                </button>
            </app-buttons-bar>
        </div>
    </form>
</app-form-section>
