<app-section-title>
    {{title}}
</app-section-title>
<form [formGroup]="form" fxLayout="column" fxLayoutAlign="start stretch">
    <div fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap="10px">

        <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
            <mat-label>Red</mat-label>
            <mat-select formControlName="red" required>
                <mat-option [value]="'TWITTER'">Twitter</mat-option>
                <mat-option [value]="'FACEBOOK'">Facebook</mat-option>
                <mat-option [value]="'INSTAGRAM'">Instagram</mat-option>
            </mat-select>
            <mat-error *ngIf="error('red')">{{error('red')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex.lg="50" fxFlex.xs="100">
            <mat-label>Url</mat-label>
            <input formControlName="url" matInput required />
            <mat-error *ngIf="error('url')">{{error('url')}}</mat-error>
        </mat-form-field>

    </div>

    <div fxLayout="row" fxLayoutGap="15px">
        <button mat-flat-button color="primary" (click)="guardar()">
            Guardar
        </button>
        <button mat-flat-button routerLink="/app/clientes/empresas/{{empresa_id}}/contactos/{{contacto_id}}">
            Cancelar
        </button>
    </div>
</form>