<app-form-section>    
    <app-section-title>
        {{title}}
    </app-section-title>
    <form [formGroup]="form" fxLayout="column" fxLayoutAlign="start stretch">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input formControlName="nombre" matInput required />
            <mat-error *ngIf="error('nombre')">{{error('nombre')}}</mat-error>
        </mat-form-field>
        <div fxLayout="row" fxLayoutGap="15px">
            <button mat-flat-button color="primary" (click)="guardar()">
                Guardar
            </button>
            <button mat-flat-button routerLink="/app/clientes/cargos">
                Cancelar
            </button>
        </div>
    </form>
</app-form-section>